#dino {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 50px;
  height: 50px;
  background-image: url('assets/nice.jpeg');
  background-size: cover;
  animation: run-animation 0.5s steps(2) infinite;
}

#cactus {
  position: absolute;
  bottom: 0;
  right: -50px;
  width: 30px;
  height: 50px;
  background-image: url('assets/obama.webp');
  background-size: cover;
  animation: move-cactus 2s linear infinite;
}
